<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>실습1</title>
</head>
<body>
<!--    화면에서 4개 정보 입력 후 form태그로 전송한다-->
<h1>실습1</h1>
    <form action="ex08">
        이름<input type="text" name="name">
        가격<input type="text" name="price">
        재고<input type="text" name="stock">
        브랜드<input type="text" name="brand">
        <input type="submit" value="전송">
    </form>
<br>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>가격</th>
            <th>재고</th>
            <th>브랜드</th>

        </tr>
        <tr th:object="${productVO}">
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{stock}"></td>
            <td th:text="*{brand}"></td>
        </tr>
    </table>
</body>
</html>